<h1>Orders</h1>
<%= link_to "New order", new_admin_order_path %>
<div>
  <h2>unfulfilled orders</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>customer_email</th>
        <th>fulfilled</th>
        <th>total_price</th>
        <th>address</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @unfulfilled_orders.each do |order| %>
        <tr>
          <td><%= order.id %></td>
          <td><%= order.customer_email %></td>
          <td><%= order.fulfilled %></td>
          <td><%= order.total_price %></td>
          <td><%= order.address %></td>
          <td><%= link_to "view", admin_order_path(order) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div>
  <h2>fulfilled orders</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>customer_email</th>
        <th>fulfilled</th>
        <th>total_price</th>
        <th>address</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @fulfilled_orders.each do |order| %>
        <tr>
          <td><%= order.id %></td>
          <td><%= order.customer_email %></td>
          <td><%= order.fulfilled %></td>
          <td><%= order.total_price %></td>
          <td><%= order.address %></td>
          <td><%= link_to "view", admin_order_path(order) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
