<%= form_with(model: [:admin, car_part]) do |form| %>
  <% if car_part.errors.any? %>
    <ul>
      <% car_part.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <div>
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>
  <div>
    <%= form.label :part_type_id %>
    <%= form.collection_select :part_type_id, PartType.order(:name), :id, :name %>
  </div>
  <div>
    <%= form.label :active %>
    <%= form.check_box :active %>
  </div>
  <div>
    <% if car_part.images.any? %>
      <div>
        <% car_part.images.each do |image| %>
          <%= image_tag image.variant(:thumb) %>
        <% end %>
      </div>
    <% end %>
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>